# Python & Temporary Files
__pycache__/
*.pyc
.venv/
env/

# Ignore scripts directory completely
scripts/

# Data migration & SQL files
*.sql
!backend/src/main/resources/db/migration/*.sql

# Environment & Secrets
.env
.env.local
